nvidia-pyindex
nvidia-cuda-runtime-cu11
nvidia-cuda-runtime-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvcc-cu11
nvidia-nvml-dev-cu11
nvidia-cuda-nvrtc-cu11
nvidia-nvtx-cu11
nvidia-cuda-sanitizer-api-cu11
nvidia-cublas-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-npp-cu11
nvidia-nvjpeg-cu11
torch==1.10.2+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html
torchvision==0.11.3+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html
torchaudio==0.10.2+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric
tensorboard
boto3
simplejson
deap
mip
scikit-decide[all]